.accordion {
	

	/**
     * Trigger. 
     * It is assume odd children like a trigger
     */
	*:nth-child(odd) {
		padding: 10px;
		border-bottom: solid 1px #ccc;
		background: #ddd;

	}

	.content {
		max-height: 0;
		transition: max-height .5s;
		overflow-y: hidden;
		padding: 0 10px;

		&:after,
		&:before {
			content: '';
			height: 10px;
			display: block;
		}
	}
	
	.content.active {
		max-height: 1000px;
	}

}