.tab {

	/* Fix inline-block extra margin */
	font-size: 0;

	/**
     * Container Triggers. 
     * It is assume first adjacent child like a container of triggers
     */
	& > *:first-child {
		overflow: hidden;
		display: inline-block;
		
		/* Fix inline-block extra margin */
		font-size: initial;
		margin-bottom: -1px;
		

		/**
		 * List of triggers
		 */
		& > * {
			float: left;
			background: #eee;
			border-top: solid 1px #aaa;
			border-right: solid 1px #aaa;
			border-bottom: solid 1px #aaa;
			padding: 5px;

			&:first-child {
				border-left: solid 1px #aaa;
			}

			&.active {
				border-bottom: solid 1px #fff;
				background: #fff;
			}	
		}
	}
	

	/**
     * Container Contents
     * It is assume second adjacent child like a container of contents
     */
    & > * + * {
		border: solid 1px #aaa;
		padding: 10px;
		
		/* Fix inline-block extra margin */
		font-size: initial;

		& > * {
			display: none;
		}
		
		& > *.active {
			display: block;
		}
	}

}