.tab {

	/**
     * Trigger. 
     * It is assume first children ul like a trigger list
     */
	& > nav {
		overflow: hidden;
		display: inline-block;

		a:first-child {
			border-left: solid 1px #aaa;
		}
		
		a {
			float: left;
			background: #eee;
			border-top: solid 1px #aaa;
			border-right: solid 1px #aaa;
			padding: 5px;
		}

		a.active {
			border-bottom: solid 1px #fff;
			background: #fff;
		}	
	}
	

	/**
     * Content
     * It is assume adjacent children div like a containers of content
     */

    & > div {
		border: solid 1px #aaa;
		padding: 10px;
		margin-top: -3px;
	}

	& > div > * {
		display: none;

	}

	& > div > *.active {
		display: block;
	}


}