/* line 1, ../sass/accordion.scss */
.accordion {
  	/**
       * Trigger. 
       * It is assume odd children like a trigger
       */
}
/* line 8, ../sass/accordion.scss */
.accordion *:nth-child(odd) {
  padding: 10px;
  border-bottom: solid 1px #ccc;
  background: #ddd;
}
/* line 15, ../sass/accordion.scss */
.accordion .content {
  max-height: 0;
  transition: max-height .5s;
  overflow-y: hidden;
  padding: 0 10px;
}
/* line 21, ../sass/accordion.scss */
.accordion .content:after, .accordion .content:before {
  content: '';
  height: 10px;
  display: block;
}
/* line 29, ../sass/accordion.scss */
.accordion .content.active {
  max-height: 1000px;
}
