/* line 1, ../sass/accordion.scss */
.accordion {
  	/**
       * Trigger. 
       * It is assume odd children like a trigger
       */
}
/* line 6, ../sass/accordion.scss */
.accordion > *:nth-child(odd) {
  padding: 10px;
  border-top: solid 1px #aaa;
  background: #eee;
  position: relative;
}
/* line 13, ../sass/accordion.scss */
.accordion > *:nth-child(odd).active + div {
  max-height: 1000px;
}
/* line 17, ../sass/accordion.scss */
.accordion > *:nth-child(odd).active:after {
  transform: rotate(270deg);
}
/* line 21, ../sass/accordion.scss */
.accordion > *:nth-child(odd):after {
  content: '>';
  transform: rotate(90deg);
  transition: transform .5s;
  transform-origin: center center;
  position: absolute;
  right: 10px;
  color: #aaa;
}
/* line 32, ../sass/accordion.scss */
.accordion .content {
  max-height: 0;
  transition: max-height .5s;
  overflow-y: hidden;
  padding: 0 10px;
}
/* line 38, ../sass/accordion.scss */
.accordion .content:after, .accordion .content:before {
  content: '';
  height: 10px;
  display: block;
}
