/* line 1, ../sass/tab.scss */
.tab {
  /* Fix inline-block extra margin */
  font-size: 0;
  	/**
       * Container Triggers. 
       * It is assume first adjacent child like a container of triggers (& > *:first-child)
       */
  	/**
       * Container Contents
       * It is assume second adjacent child like a container of contents
       */
}
/* line 10, ../sass/tab.scss */
.tab tabs-triggers {
  overflow: hidden;
  display: inline-block;
  /* Fix inline-block extra margin */
  font-size: initial;
  margin-bottom: -1px;
  /**
   * List of triggers
   */
}
/* line 22, ../sass/tab.scss */
.tab tabs-triggers > * {
  float: left;
  background: #eee;
  border-top: solid 1px #aaa;
  border-right: solid 1px #aaa;
  border-bottom: solid 1px #aaa;
  padding: 5px;
}
/* line 30, ../sass/tab.scss */
.tab tabs-triggers > *:first-child {
  border-left: solid 1px #aaa;
}
/* line 34, ../sass/tab.scss */
.tab tabs-triggers > *.active {
  border-bottom: solid 1px #fff;
  background: #fff;
}
/* line 46, ../sass/tab.scss */
.tab > * + * {
  border: solid 1px #aaa;
  padding: 10px;
  /* Fix inline-block extra margin */
  font-size: initial;
}
/* line 53, ../sass/tab.scss */
.tab > * + * > * {
  display: none;
}
/* line 57, ../sass/tab.scss */
.tab > * + * > *.active {
  display: block;
}
