/* line 1, ../sass/tab.scss */
.tab {
  	/**
       * Trigger. 
       * It is assume first children ul like a trigger list
       */
  	/**
       * Content
       * It is assume adjacent children div like a containers of content
       */
}
/* line 7, ../sass/tab.scss */
.tab > nav {
  overflow: hidden;
  display: inline-block;
}
/* line 11, ../sass/tab.scss */
.tab > nav a:first-child {
  border-left: solid 1px #aaa;
}
/* line 15, ../sass/tab.scss */
.tab > nav a {
  float: left;
  background: #eee;
  border-top: solid 1px #aaa;
  border-right: solid 1px #aaa;
  padding: 5px;
}
/* line 23, ../sass/tab.scss */
.tab > nav a.active {
  border-bottom: solid 1px #fff;
}
/* line 34, ../sass/tab.scss */
.tab > div {
  border: solid 1px #aaa;
  padding: 10px;
  margin-top: -3px;
}
/* line 40, ../sass/tab.scss */
.tab > div > * {
  display: none;
}
/* line 44, ../sass/tab.scss */
.tab > div > *.active {
  display: block;
}
